.visibilityContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 1%;
}

.visibilityBox {
  background-color: hsla(257, 6%, 25%, 0.188);
  color: white;
  padding: 10px; 
  border: 2px solid hsla(0, 0%, 100%, 0.31);
  border-radius: 40px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  max-width: 95%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.title {
  display: flex; 
  align-items: center;
  font-size: 1em; 
  margin: 0 10px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  width: 30px; 
  height: 30px;
  margin-right: 10px; 
}

.value {
  font-size: 1.2em; 
  margin: 0 10px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1024px) {
  .visibilityBox {
    width: 48%;
  }

  .title {
    font-size: 0.9em; 
  }

  .value {
    font-size: 1.2em;
  }
}
