.box {
    background-color: #1c1c3c;
    color: white;
    padding: 14% 7%;
    justify-content: center;
    align-items: center;
    border: 2px solid hsla(0, 0%, 100%, 0.31);
    border-radius: 15px;
    text-align: center;
    margin: 20px;
    /* padding: 10% 10%;  */
    
  }

  .iconContainer {
    margin-right: 10px; 
  }
  
  .icon {
    width: 20px;
    height: auto; 
    margin-right: 7px;
  }
  
  .title {
    font-size: 1em;
    margin-bottom: 10px;
    opacity: 0.7;
  }
  
  .value {
    font-size: 2em;
    margin-bottom: 5px;
  }
  
  .subtitle {
    font-size: 0.8em;
  }
  